* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  background-color: rgba(136, 113, 113, 0.267);
}

li {
  list-style: none;
  float: right;
  padding: 20px;
  position: relative;
  bottom: 70px;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  margin-left: 20px;
  font-size: 1.5em;
}
.firstpara {
  display: flex;
  margin-bottom: 500px;
  justify-content: space-between;
}
h2 {
  font-size: 3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  position: relative;
  bottom: 20px;
}

#btn2 {
  height: 40px;
  width: 100px;
  background-color: white;
  position: relative;
  bottom: 5px;
  border-radius: 7px;
  margin-left: 10px;
  border-color: rgba(182, 102, 228, 0.651);
}
.imgcon {
  margin-left: 100px;
  border-radius: 7px;
}
.firstpara1 {
  margin: 20px;
  display: flex;
  position: relative;
  bottom: 350px;
  justify-content: space-between;
}
img {
  border-radius: 10px;
}
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#pag {
  position: relative;
  bottom: 97px;
  margin-left: 350px;
}
#pagg {
  position: relative;
  bottom: 117px;
  margin-left: 350px;
}
.row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#bu {
  background-color: rgba(255, 255, 255, 0.856);
  border-radius: 7px;
  border-color: rgb(194, 153, 233);
  position: relative;
  bottom: 10px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}
.td {
  text-align: center;
  position: relative;
  margin: auto;
}
