* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  margin-left: 92px;
  margin-right: 92px;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html,
body {
  background: #e3e7ea;
  width: 100%;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 1.5;
}
h1 {
  /* margin-right: 57%; */
}
nav {
  background: #3f86c8;
  display: flex;
  padding: 0.5em; /*for space in left and top*/
  justify-content: space-between;
  background: #3f86c8;
  height: 80px;
  text-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}
nav h1 {
  margin: 30px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}
nav a {
  text-decoration: none;
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: black;
}
nav ul li::after {
  content: "";
  width: 10%;
  height: 1px;
  background: black;
  display: block;
  transition: 0.5s;
  transform: scaleX(0);
}
nav ul li:hover::after {
  width: 95%;
  transform: scaleX(1);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 92px;
}

.box {
  font-size: 22px;
  width: 75%;
  align-items: center;
  justify-content: center;
}
.box a {
  padding: 8px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #3f86c8;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  top: 45px;
  color: black;
}
.btn {
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #3f86c8;
  margin-top: 20px;
  margin-left: 15px;
  cursor: pointer;
}
.btn,
.box a:hover {
  background: #3f86c8;
  color: white;
}
/*Responsive part*/
.side {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(16, 119, 202, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.side li {
  width: 80%;
}
.side a {
  width: 80%;
}
.menu-button {
  display: none;
}
@media (max-width: 768px) {
  body {
  }
  .mobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  nav ul li::after {
    display: none;
  }
  .box {
    font-size: 14px;
  }
  .box h1 {
    font-size: 16px;
  }
  .box a {
    display: flex;
    flex-direction: row;
    width: 100px;
    margin: 7px;
  }
  .container {
    flex-direction: column;
  }
.container img{
  border-radius: 50px;
}
  }
@media (max-width: 328px) {
  .side {
    width: 100%;
  }
}

/* div img {
  border-radius: 5px;
  width: 500px;
  box-shadow: 0px 5px 25px 1.5px #6da3d6 ;
} */

.container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.container-1 img {
  width: 400px;
  height: 370px;
  margin-right: 50px;
}
@media(max-width:768px){
  .container-1 {
    flex-direction: column;
    gap: 16px;
  }
.container-1 img{
  border-radius: 50px;
}
}
.box-2 {
  display: flex;
  font-size: 20px;
  text-align: start;
  flex-direction: column;
  margin-bottom: 90px;
}
.box-2 p {
  font-size: 23px;
}
@media (max-width: 768px) {
  .box-2 h1 {
    font-size: 16px;
  }
  .box-2 p {
    font-size: 14px;
  }
}
.box-3 {
  background-color: #3f86c8;
  display: flex;
  font-size: 20px;
  text-align: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.box-3 p {
  font-size: 15px;
}
@media (max-width: 768px) {
  .box-3 {
    background-color: #e3e7ea;
    font-size: 14px;
  }
}

.div-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 70px;
}
.div-2 h3 {
  text-align: center;
  font-size: 2.5em;
}
@media (max-width: 768px) {
  .div-2 h3{
    font-size: 16px;
  }
  .div-2 p{
    font-size: 14px;
  }
}
.div-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.div-3 img {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.div-3 img h2 p {
  flex-direction: column;
  gap: 10px;
}

.div-4 button {
  margin: 30px;
  padding: 10px;
  border-radius: 3px;
  width: 100px;
  border: 1.5px solid #3f86c8;
  margin-bottom: 100px;
}
.div-4 button:hover {
  background-color: #3f86c8;
  color: white;
}
.div-5 {
  /* display: flex; */
  margin-top: 2rem;
  /* justify-content: space-around; */
}
.div-5 h2 {
  font-size: 40px;
  margin-left: 25px;
}
.div-5 p button {
  padding: 10px;
  border-radius: 3px;
  width: 100px;
  border: 1.5px solid #3f86c8;
  margin: 20px;
  margin-bottom: 100px;
}
.div-5 p button:hover {
  background-color: #3f86c8;
  color: white;
}
@media (max-width: 768px) {
  .div-5 h2{
    font-size: 16px;
  }
  .div-5 p{
    font-size:12px;
  }
}

.div-6 {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 23%;
  margin-bottom: 90px;
}
.div-6 h2 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .div-6 {
    font-size: 10px;
    width: 300px;
    line-height: 20px;
    display: flex;
  }
}

.div-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.div-7 h4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.div-7 button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #3f86c8;
  margin-bottom: 50px;
}
.div-7 button:hover {
  background-color: #3f86c8;
  color: white;
}
@media (max-width: 768px) {
  .div-7 h4 {
    font-size: 16px;
  }
  .div-7 p{
    font-size: 14px;
  }
}
.div-8 {
  width: 100%;
  background: #3f86c8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-9 {
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
  gap: 50px;
}
.div-9 h4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.div-10 {
  display: flex;
  flex-direction: row;
  margin: 30px;
  gap: 15px;
}

.last {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3f86c8;
}
.last b {
}
@media (max-width: 768px) {
  .footer{
    font-size:12px;
  }
  .div-9 h4{
    font-size: 14px;
  }
  .last{
    font-size: 12px;
  }
}

.picture {
  width: 130px;
  height: 130px;
  background-color: white;
  border-radius: 70px;
}
.picture img {
  width: 130px;
  height: 130px;
  border-radius: 70px;
}

.test-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  background-color: #3f86c8;
}
@media (max-width: 768px) {
  .test-footer{
    font-size: 12px;
  }
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-nav {
  width: 100%;
  height: 200px;
  background: #3f86c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-pic {
  background-color: #a1a1a1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 1px;
  margin-top: 150px;
}
.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  margin-top: 50px;
}
.login-image input {
  width: 300px;
  padding: 7px;
  margin: 10px;
  border-radius: 15px;
  background: #a1a1a1;
  border: none;
  outline: none;
}
.login-image button {
  padding: 7px;
  background-color: #3f86c8;
  color: white;
  border: none;
  border-radius: 3px;
  width: 100px;
  margin-bottom: 80px;
}
.icon {
  width: 90%;
  height: 200px;
  background: #3f86c8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon img {
  width: 70px;
  margin: 40px;
}
@media (max-width: 768px) {
  .icon {
    margin: 15px;
  }
  .icon img {
    width: 40px;
    margin: 20px;
  }
}
.card {
  border: 1px solid #3f86c8;
  width: 300px;
  border-radius: 8px;
  padding: 16px;
}
.card img {
  width: 100%;
  border-radius: 4px;
}
.card p {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
}

.feature {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin-bottom: 32px;
  grid-template-rows: auto;
  gap: 32px;
}
@media (max-width: 768px) {
  .card {
  }
}
a {
  text-decoration: none;
}
.primaary-btn {
  padding: 10px 32px;
  background-color: #3f86c8;
  border-radius: 50px;
  color: #e3e7ea;
}

.common {
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
}
.active {
  color: #fff !important;
}
